<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <title>Rock, Paper, Scissors</title>
</head>
<body>
    <head>
        <h1>Rock, Paper, Scissors</h1>
        <a href="/rules" id="button">Rules</a>
        <br>
    </head>

{% block content%}
{% endblock %}
</body>

</html